<html>
<head>
    <meta charset="utf-8">
    <title>Buffalo - Magazine</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" >
    <meta name="csrf-param" content="authenticity_token"/>
    <meta name="csrf-token" content="<%= authenticity_token %>"/>
    <style>
        .body {
            height: 100%;
            margin: 0;
            padding: 24px;
            box-sizing: border-box;
            background-color: rgb(42, 44, 42);
        }
    </style>
</head>
<body class="body">
<%= yield %>
</body>
</html>
